<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar  navbar-static-top  navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客园</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#about">关于</a></li>
                <li><a href="#contact">联系</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">下载 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">图片</a></li>
                        <li><a href="#">文章</a></li>
                        <li><a href="#">视频</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">种子</a></li>
                        <li><a href="#">美女</a></li>
                    </ul>
                </li>
            </ul>

            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ request.user.nickname }}</a></li>
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">短消息</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                </ul>

            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="{% url 'reg' %}">注册</a></li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="col-sm-2">
        <div class="panel panel-primary">
            <div class="panel-heading">网站分类</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">链接</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>


    <div class="col-sm-7">
        {% for article in article_list %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-2" style="margin-left: 0;">
                    <div class="btn bg-success">
                        <div class="badge">{{ article.up_count }}</div>
                        <div>推荐</div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row"><h5><a href="/{{ article.user.username }}/p/{{ article.pk }}.html">{{ article.title }}</a></h5></div>
                    <div class="row">
                        <p>
                            <a href="/{{ article.user.username }}/"><img class="pull-left" style="margin-right: 10px;margin-bottom: 10px;" src="/media/{{ article.user.avatar }}" width="70" height="70" alt=""></a>
                            {{ article.desc }}
                        </p>

                    </div>
                    <div class="row">
                        <a href="/{{ article.user.username }}/">{{ article.user.nickname }}</a>
                        <span>发布于&nbsp;{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                        <a href="#">评论&nbsp;&#40;{{ article.comment_count }}&#41;</a>
                        <a href="#">踩&nbsp;&#40;{{ article.down_count }}&#41;</a>
                    </div>

                </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-3" style="border: 1px solid red">
        右侧
    </div>
    <script src="/static/plugins/jquery-3.2.1.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
